.portfolioWraper{
  height: calc(100vh - 127px);
  overflow: auto;
}

.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 100vw;
  /* outline: solid white 2px; */
  height: 100%;
}

.projectCard {
  padding: 10px;
  float: left;
  width: 40%;
  margin: 2%;
  /* outline: solid red 2px; */
}

.title{
  display: none;
}

.projectCard:hover .title{
  /* outline: solid blue 2px; */
  display: block;
}

.projectCard ul{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.projectCard ul, li{
  margin-left: 10px;
}
