* {
    box-sizing: border-box;
  }

.project {
  flex: 0 0 200px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  width: 30%;
  margin: 20px;
}

.project img {
    width: 100%;
}

.project-wrapper{
    /* display: flex; */
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
}