.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

.ulNav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

.headerMain a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }

  .headerMain a:hover {
    color: #fff;
  }


  @media screen and (max-width: 768px) {
    .headerMain {
      /* display: block; */
      justify-content: space-between;
    }
    .ulNav{
      flex-direction: column;
      align-items: flex-end;
    }
  }