.headerMain {
    outline: solid slateblue 2px;
    display: flex;
    background-color: aqua;
}

.ulNav {
    display: flex;
    outline: solid red 2px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    padding: 10px;
}